<div class="row d-flex align-items-center justify-content-center">
  <div class="col-md-7 col-lg-5 col-sm-8">
    <div class="card mt-2">
      <div class="card-body d-flex justify-content-between flex-column p-3">
        <h2 class="text-center" style="color: rgb(108, 103, 154)">
          Change Password
        </h2>
        <form [formGroup]="cform">
          <mat-form-field class="example-full-width">
            <mat-label>Old Password</mat-label>
            <input
              matInput
              placeholder="Enter old Password"
              formControlName="o_password"
            />
            <mat-error
              style="font-size: 13px"
              *ngIf="
                cform.controls['o_password'].invalid &&
                cform.controls['o_password'].touched
              "
            >
              Enter old password
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>New Password</mat-label>
            <input
              type="password"
              matInput
              placeholder="Enter New Password"
              formControlName="n_password"
            />
            <mat-error
              style="font-size: 13px"
              *ngIf="
                cform.controls['n_password'].invalid &&
                cform.controls['n_password'].touched
              "
            >
              <span *ngIf="cform.controls['n_password'].errors['minlength']"
                >Password must be at least 6 characters long</span
              >
              <span *ngIf="cform.controls['n_password'].errors['required']"
                >Enter new password</span
              >
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              placeholder="Enter confirm Password"
              formControlName="c_password"
            />
            <mat-error
              style="font-size: 13px"
              *ngIf="
                cform.controls['c_password'].invalid &&
                cform.controls['c_password'].touched
              "
            >
              <span
                *ngIf="cform.controls['c_password'].errors['passwordMismatch']"
                >Confirm Password must be same</span
              >
              <span *ngIf="cform.controls['c_password'].errors['required']"
                >confirm Password is required</span
              >
            </mat-error>
          </mat-form-field>
          <button
            class="btn btn-primary example-full-width mt-2"
            (click)="cpass()"
          >
            Change Password
          </button>
          <div class="text-center mt-2">
            <a (click)="forgotpass()" style="font-size: 15px; cursor: pointer"
              >Forgot Password ?</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
